manifest {
   name = 'LivingDrugOmics'
   author = """David Schmidt, Christina Kuhn"""
   contributors = [
      [
         name:'David Schmidt',
         affiliation:'Faunhofer-IZI',
         email:'david.schmidt@izi.fraunhofer.de',
         github:'https://github.com/Sxmple-DavidSchmidt',
         contribution:['author']
      ], [
         name:'Christina Kuhn',
         affiliation:'Fraunhofer-IZI',
         email:'christina.kuhn@izi.fraunhofer.de',
         contribution:['author']
      ]
   ]
   homePage = ''
   description = """This Pipeline was developed supporting 10x Genomics single cell protocols, including gene expression, V(D)J repertoire and surface protein detection"""
   mainScript = 'main.nf'
   defaultBranch = 'main'
   nextflowVersion = '>=24.10.2'
   version = '1.0.0'
   doi = ''
   organization = 'Fraunhofer-IZI'
   docsUrl = 'TODO'
}

params {
   // Input / Output
   samples = []
   outdir = "${projectDir}/output"

   // reference options
   gene_expression_reference = null
   gene_expression_source_fa = null
   gene_expression_source_gtf = null
   gene_expression_reference_version = '2024'
   gene_expression_source_fa_url = ['2024':'http://ftp.ensembl.org/pub/release-109/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz', '2020':'http://ftp.ensembl.org/pub/release-98/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz']
   gene_expression_source_gtf_url = ['2024':'http://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_44/gencode.v44.primary_assembly.annotation.gtf.gz', '2020':'http://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_32/gencode.v32.primary_assembly.annotation.gtf.gz']
   gene_expression_car_fa = null
   gene_expression_car_gtf = null
   feature_reference = null
   vdj_reference = null

   // process toggles
   skip_fastq_screen = false
   skip_fastqc = false
   skip_multiqc = false
   skip_qc = false

   // config files
   multiqc_config = "${projectDir}/assets/config/multiqc_config.yaml"
   fastq_screen_config = "${projectDir}/assets/config/fastqs_config.conf"
   fastq_screen_database_dir = "${projectDir}/assets/fastqs_databases"

   // experimental
   cellranger_disable_ui = false
   cellranger_enable_cluster = false
   cellranger_cluster_template = "${projectDir}/assets/cluster_templates/slurm.template"
   cellranger_max_jobs = 4
   cellranger_mem_per_core = 8

   // miscellaneous
   help = false
   monochrome_logs = false
   trace_report_suffix = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
   validate_params = true
}

plugins {
    id 'nf-validation@1.1.3'
}

executor {
    $local {
        name = 'local'
        cpus = 8
        memory = '64.GB'
    }

    $slurm {
        name = 'slurm'
        perCpuMemAllocation = true
    }
}

profiles {
    standard {
        executor.name = 'local'
        process {
            cpus = 4
            memory = '16.GB'

            withLabel: big_task {
                cpus = 8
                memory = '32.GB'
            }
        }
    }

    slurm {
        executor.name = 'slurm'
        process {
            time = '8h'
            cpus = 8
            memory = '32.GB'

            withLabel: big_task {
                time = '7d'
                cpus = 16
                memory = '64.GB'
            }
        }
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        
        process {
            withLabel: module_cellranger {
                container = "docker://cumulusprod/cellranger:8.0.1"
            }

            withLabel: module_python3 {
                container = "library://david.schmidt/living-drugs/python3:v1.0.0"
            }

            withLabel: module_fastqc {
                container = "docker://staphb/fastqc:0.12.1"
            }

            withLabel: module_fastq_screen {
                container = "library://david.schmidt/living-drugs/fastq_screen:v1.0.0"
            }

            withLabel: module_multiqc {
                container = "docker://multiqc/multiqc:v1.24.1"
            }

            withLabel: module_seurat {
                container = "library://david.schmidt/living-drugs/r_and_quarto:v1.0.0"
            }

            withLabel: module_quarto {
                container = "library://david.schmidt/living-drugs/r_and_quarto:v1.0.0"
            }
        }
    }
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}

trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}

dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}
